<!-- 導覽列區塊 -->
<header class="sticky-top mb-4 mb-md-8">
  <nav class="navbar navbar-expand-lg py-3 py-md-6 border-bottom border-3">
    <div class="container">
      <h1 class="m-0">
        <a class="navbar-brand d-flex align-items-center gap-4 me-0 me-md-12 p-0" href="./index.html">
          <img src="../assets/images/logo.png" class="header__logo img-fluid" alt="">
          <p class="d-none d-md-flex align-items-center m-0 fs-4">7TAO <span class="d-none d-lg-block ms-1 fs-9 fw-bold">活動訂票網</span></p>
        </a>
      </h1>
      <form class="d-flex me-md-auto w-55 w-md-40 w-lg-25" role="search">
        <input class="form-control py-2" type="search" placeholder="探索活動" aria-label="Search">
        <button class="header__button btn btn-primary" type="submit">
          <i class="icofont icofont-search-1 text-secondary"></i>
        </button>
      </form>
      <button class="navbar-toggler rounded-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav gap-lg-6 text-center pt-4 py-lg-0 ms-auto">
          <li class=" mb-4 mb-lg-0">
            <a class="fs-8 p-0" aria-current="page" href="#">
              <i class="icofont icofont-ui-file"></i>
              REGISTER
            </a>
          </li>
          <li>
            <a class="fs-8 p-0" href="#">
              <i class="icofont icofont-ui-user"></i>
              LOGIN
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>