.button__link-hover:hover {
  color: $secondary !important;
}

.button__link-hover.active {
  background: $primary;
  color: $secondary !important;
  cursor: unset;
}

.button__text-secondary:hover {
  opacity: 0.8;
}