<!-- 會員 Modal -->
<div class="modal fade" id="member" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header border-3">
        <h1 class="modal-title fs-5 flex-grow-1 text-center" id="exampleModalLabel">立刻成為7TAO會員</h1>
        <button type="button" class="btn-close p-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center py-12">
        <p class="mb-6 lh-lg">立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。 <br>
        您也可以先報名活動，日後再註冊帳號，系統會在認證您的Email後，協助您找回舊的訂單。</p>
        <button type="button" class="button__link-hover btn btn-primary py-2 px-8 fs-7 fw-bold">立即成為會員</button>
      </div>
    </div>
  </div>
</div>