.hmBanner__img {
  height: 350px !important;
  object-fit: cover;
}

.hmActivity__img {
  width: 40px;
}

.hmActivity__link {
  transform: translate(0);
  transition: transform .3s ease;

  &:hover {
    transform: translateY(-10px);
  }
}

.hmOnline__img {
  width: 100%;
  height: 158px;
  object-position: 50% 30%;
}

.hmAlbum__item {
  &:nth-child(2n) {
    transform: rotate(2deg);
  }

  &:nth-child(3) {
    transform: rotate(-2deg)
  }
}

.hmAlbum__img {
  height: 267px;
}

.hmAlbum__title{
  transform: translate(-50%, -50%) rotate(-4deg) !important;
}



@include media-breakpoint-up(md) {
  .hmBanner__img {
    height: 518px !important;
  }

  .hmActivity__img {
    width: 80px;
  }


  .hmOnline__img {
    height: 342px;
  }
}