<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第六週-活動訂票網-活動詳情</title>
    <link rel="stylesheet" href="../node_modules/@icon/icofont/icofont.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 活動詳情主要內容 -->
    <main>

      <section class="container mb-4">
        <div class="row g-2 g-md-6">
          <div class="col-md-10">
            <img src="../assets/images/event/09.jpg" class="adBanner__img img-fluid p-3 p-md-6 border border-3 object-fit-cover" alt="">
          </div>
          <div class="col-md-2 d-flex flex-md-column gap-2 gap-lg-6">
            <p class="py-6 px-4 px-md-0 py-lg-8 mb-0 fs-5 fs-lg-3 border border-3 text-center">2023</p>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center gap-7 flex-md-column text-center border border-3">
              <p class="mb-0 fs-6 fs-lg-3"> MAY <br> 19</p>
              <p class="mb-0 fs-11 fs-lg-12">/</p>
              <p class="d-flex flex-column mb-0 fs-lg-4">12:00 <br> | <br> 20:00</p>
            </div>
          </div>
          </div>
        </div>
      </section>

    </main>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
