<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>第六週-活動訂票網-付款</title>
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../node_modules/@icon/icofont/icofont.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 付款內容 -->
    <main>
      <section class="container pt-6 pb-12 pb-md-13">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <ol class="step__list d-flex justify-content-between list-unstyled position-relative mb-6 mb-md-12">
              <li class="d-flex flex-column align-items-center fw-bold">
                <p class="step__number active py-1 px-3 py-md-3 px-md-5 mb-1 mb-2 fs-md-7 border bg-primary text-secondary lh-lg lh-md-1">✔</p>
                <p class="mb-0">訂單確認</p>
              </li>
              <li class="d-flex flex-column align-items-center fw-bold">
                <p class="step__number active py-1 px-3 py-md-3 px-md-5 mb-1 mb-2 fs-md-7 border bg-primary text-secondary  lh-lg lh-md-1">2</p>
                <p class="mb-0">結帳付款</p>
              </li>
              <li class="d-flex flex-column align-items-center fw-bold">
                <p class="step__number py-1 px-3 py-md-3 px-md-5 mb-1 mb-2 fs-md-7 border lh-lg lh-md-1">3</p>
                <p class="mb-0">訂購結果</p>
              </li>
            </ol>
            <h2 class="mb-6 mb-md-8 fs-4 fs-lg-3 fw-bold text-start text-md-center letter-4">返老還童-制服聯誼</h2>
            <p class="p-2 mb-6 mb-lg-8 fs-10 bg-primary text-secondary text-center font-NotoSans lh-lg">您的訂單已保留，請在2023/5/30 04:32 前完成繳費。若逾期未繳款，系統將取消您的訂單。</p>
            <table class="table mb-8 mb-md-12">
              <tbody class="align-middle">
                <tr class="border-top border-start-0 border-end-0 border-bottom-0 border-2">
                  <th scope="row" class="py-4 py-2 px-0 w-50">訂單編號</th>
                  <td class="px-0 text-end font-NotoSans">892746123</td>
                </tr>
                <tr>
                  <th scope="row" class="px-0 py-4 py-2 w-50">票券</th>
                  <td class="px-0 text-end font-NotoSans text-nowrap">改頭換面票（含大改造）$8000</td>
                </tr>
              </tbody>
            </table>
            <h3 class="d-flex flex-column align-items-center fs-5 fw-bold letter-1">
              <i class="icofont icofont-star-alt-1 mb-4 fs-4"></i>
              結帳資訊
            </h3>
            <form>
              <div class="mb-4">
                <label for="name" class="form-label">取票資訊</label>
                <input type="email" class="form-control mb-1 bg-transparent" id="name" placeholder="請輸入身分證字號或護照號碼" aria-describedby="emailHelp">
                <p class="fs-10 text-dark-gray font-NotoSans lh-lg">請輸入您的 <span class="text-tertiary">身分證字號</span> 供取票使用，外籍人士請輸入 <span class="text-tertiary">護照號碼</span></p>
              </div>
              <p class="mb-2 font-NotoSans lh-lg">付款方式</p>
              <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="pay" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  信用卡
                </label>
              </div>
              <div class="form-check mb-8">
                <input class="form-check-input font-NotoSans" type="radio" name="pay" id="flexRadioDefault2">
                <label class="form-check-label font-NotoSans" for="flexRadioDefault2">
                  ATM虛擬帳號
                </label>
              </div>
              <div class="col-md-8 mx-auto mb-6 mb-md-8">
                <a href="./payEnd.html" class="button__link-hover btn btn-primary w-100 fs-7 font-NotoSans">
                  確認訂單並繳費 $8000
                <i class="icofont icofont-rounded-double-right fs-7"></i>
                </a>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>